/* Panel Top 01 */
.panel .sections>div{
    height:auto;
}
.panel .sections .menu .noText{
    font-size: 0 !important;
}
.panel.top{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.app-panel-top-links a{
    font-size: 14px;
    letter-spacing: 0.12em;
    opacity:0.5 !important;
}
.app-panel-top-links a:hover{
    opacity:1 !important;
}
.app-logo{
    line-height:30px;
}

/* First screen (#1) */
.app-line-holder{
  padding:0 5px;
  margin-left: -5px;
  margin-right: -5px;
  display:inline-block;
  white-space:nowrap;
  position:relative;
  z-index:1;
}
.app-line{
  position:absolute;
  left:0;
  top:100%;
  transform:translateY(-60%);
  width:100%;
  z-index: -1;
}

/* General features (#2) */
.app-2-hover:hover{
    color:#2196F3 !important; 
}
.app-2-hover:hover svg{
    fill:#2196F3 !important; 
}
.app-2-hover, .app-2-hover svg{
    transition:all .2s;
}

/* Gallery (#5) */
.app-slider-arrow:hover{
  opacity:0.6;
  transition:all .2s;
}
@media (max-width: 767px){
  .app-slider-arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
  }
  .flex > .app-slider-arrow{
    width:30px !important;
  }
  .app-slider-arrow[data-slider-action="prev"]{
    left:-30px;
  }
  .app-slider-arrow[data-slider-action="next"]{
    right:-30px;
  }
}

/* Testimonial (#6) */
.app-star{
    margin:0 3px;
}

/* Call to action (#7) */
.app-5{
  max-width: 903px;
}
@media (max-width: 767px){
  .app-5{
    max-width:100%;
  }
}

/* Subscribe (#8) */
.app-6{
  min-height:280px;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-pack:center;
  justify-content:center
}
.app-6:after{
  content:"";
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  background:#27AE60;
  opacity:0;
  transition:.15s
}
.app-6:hover{
  opacity:1
}
.app-6:hover:after{
  opacity:.9
}
.app-6-inner{
  z-index:1
}

/* Panel Bottom 01 */
.panel.bottom{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.app-panel-bottom-links{
  letter-spacing: 0.12em;
}
.app-panel-bottom-links a:hover{
  color:#202020 !important;
}